@using AtomEngineEditor.Components
@using AtomEngineEditor.Services
@using AtomEngineEditor.Services.Modal
@inject IModalService ModalService

@page "/" 

<PageTitle>Index</PageTitle> 

<Debug/>
 
<button @onclick="ShowModal">Show Modal</button>
<ModalDialogueContainer/>
<OpenTkWindow/>


@code {
    private void ShowModal()
    {
        var options = new ModalOptions
            {
                Title = "TITLE",
                Content = "This is an example modal dialog.",
                Buttons = new List<ModalButton>
                {
                    new ModalButton { Text = "OK", OnClick = () => { } },
                    new ModalButton { Text = "Cancel", OnClick = () => { } }
                },
                ShowCloseButton = true,
                AnimationType = ModalAnimationType.PopInOut
            };

        var modal = ModalService.Show(options);
    }
}
