@namespace AtomEngineEditor.Shared
@using AtomEngineEditor.Services.Console

@if (Message != null)
{
    <div class="console-message @Message.LogLevel.ToString().ToLower()">
        @Message.Time [@Message.LogLevel] : @Message.Message (@Message.LogLevel.ToString().ToLower())
    </div>
}


@code {
    [Parameter] public LogMessage Message { get; set; }
}
