@namespace AtomEngineEditor.Shared
@using AtomEngineEditor.Services.Console
@inherits ConsoleBase


<div class="console-component"> 
    <div class="console"> 
        <div class="toolkit">
            <button class="atom-btn" @onclick="ClearConsole">Clear</button>
            <button class="atom-btn" @onclick="ToggleDebug">Debug</button>
            <button class="atom-btn" @onclick="ToggleInfo">Info</button>
            <button class="atom-btn" @onclick="ToggleWarning">Warning</button>
            <button class="atom-btn" @onclick="ToggleError">Error</button>
            <button class="atom-btn" @onclick="ToggleTrace">Trace</button>
            <button class="atom-btn" @onclick="ToggleCritical">Critical</button>
        </div>
        @foreach (LogMessage message in consoleMessages)
        {
            if (Level.IsLogLevelEnabled(message.LogLevel))
            {
                <ConsoleMessage Message="@message" />
            }
        }
    </div>
</div>
